@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

/* color */
/*
	orange: #f6a030;
	black: #1d1d1b;
	blue: #333367;

*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.03);
}

header {
    position: relative;
    min-height: 12rem;
}

/* navbar */
.topnav {
    overflow: hidden;
    z-index: 1000;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
    color: #f6a030;
}

.topnav a:hover {
    background-color: transparent;
    color: #f6a030;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .topnav {
        overflow: hidden;
        background-color: transparent;
    }

    .topnav img {
        max-width: 5rem;
    }

    .active {
        background-color: transparent;
        color: white;
    }

    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .topnav a {
        padding: 16px 14px;
        text-transform: uppercase;
        font-weight: 900;
    }

    .topnav a.icon {
        padding: 35px 35px;
        float: right;
        display: block;
        position: fixed;
        right: 0px;
        text-decoration: none;
        z-index: 100;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: fixed;
        width: 100%;
    }

    .topnav a.textlink {
        width: 100%;
        text-align: center !important;
        padding: 16px 0px;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .topnav.responsive a.icon {
        background-color: transparent;
    }
}

.programme {
    padding: 1rem 0rem;
}

/* button login & sign in */
.buttons {
    padding-top: 2rem;
    display: flex;
}

button.login {
    width: 8rem;
    color: #333367;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    font-size: 0.9rem;
    border: none;
    font-weight: 900;
}

hr.lignes {
    width: 80%;
}

.buttons a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
}

.buttons a:hover {
    color: red;
    background: #eff;
}

/* backgroundimage */
.backgroundimage {
    position: absolute;
    top: 0;
    z-index: -1;
}

.backgroundimage img {
    max-width: 100vw;
}

/* backgroundimage */
.bgimg {
    position: absolute !important;
    top: 0px;
    background-image: url('../images/background/stand.jpg');
    height: 12rem;
    width: 100vw;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 12px;
    z-index: -1;
}

.bgimg p, .bgimg h1 {
    padding: 0.5rem;
    font-weight: 500;
    margin: 10px;
    background-color: #f6a030;
    text-transform: uppercase;
}

/* titre page (programme) */
.titre {
    position: absolute !important;
    top: 0px;
    background-image: url('../images/background/stand.jpg');
    height: 12rem;
    width: 100vw;
    background-position: center;
    background-size: cover;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    z-index: -1;
}

.titre p, .titre h1 {
    padding: 0.5rem;
    font-weight: 500;
    margin: 10px;
    text-transform: uppercase;
}

.titrage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titrage h1 {
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
}

#demo {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: 1rem auto;
    width: 40%;
    border: 1px solid #f6a030;
}

/* info */
.info {
    padding: 2rem;
}

.info h1 {
    padding-bottom: 1rem;
    font-weight: 900;
    color: #333367;
    text-transform: uppercase;
}

.info p {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

p.age {
    font-size: 0.6rem;
    font-weight: 800;
}

/* comment */
.comment {
    padding: 1rem 2rem;
}

.comment h1 {
    padding-bottom: 1rem;
    text-align: left;
    font-weight: 900;
    color: #333367;
    text-transform: uppercase;
}

.comment h5 {
    font-size: 0.8rem;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
}

.comment h6 {
    font-size: 0.8rem;
    text-align: left;
    padding: 1rem 0rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.comment p {
    font-size: 0.7rem;
    font-weight: 300;
    padding: 0.4rem 0rem 0rem 0rem;
    text-align: left;
}

/* tarifs */
.tarifs {
    padding: 1rem 2rem;
}

.tarifs h1 {
    padding-bottom: 1rem;
    text-align: left;
    font-weight: 900;
    color: #333367;
    text-transform: uppercase;
}

.tarifs h5 {
    font-size: 0.8rem;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
}

.tarifs h6 {
    font-size: 0.8rem;
    text-align: left;
    padding: 1rem 0rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.tarifs p {
    font-size: 0.7rem;
    font-weight: 300;
    text-align: left;
}

/* tableau marques*/
.tableau {
    position: relative;
    padding: 1rem 2rem;
}

.tableau h1 {
    text-align: left;
    padding-bottom: 1rem;
    font-weight: 900;
    color: #333367;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid white;
}

.tableau th {
    font-weight: 600;
}

th, td {
    text-align: left;
    padding: 16px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

th:first-child, td:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f6a030;
}

.fa-check {
    color: green;
}

.fa-remove {
    color: red;
}

/* horraire */
.horraire {
    max-width: 100vw;
}

/* footer */
.footer {
    padding: 1.5rem 0rem;
    background-color: #333367;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}

.footer h5 {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #f6a030;
}

.footer a {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 300;
    text-decoration: none;
    margin: 1rem auto 0rem auto;
    display: block;
    text-align: center;
    color: white;
}

.footer a:hover {
    color: #f6a030;
}

/* Style des filtres de la grille horraire */
#jours {
    padding: 1rem;
}

#jours ul {
    display: flex;
    justify-content: space-between;
}

#jours ul li.active,
#jours ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#jours {
    background-color: grey;
}

#jours li {
    text-decoration: none;
    text-transform: uppercase;
}

#jours ul li.active, #jours ul li:hover {
    cursor: pointer;
    color: #ec6a5e;
    text-decoration: none;
}

a.time-entry {
    text-decoration: none;
}

/* marques */
.filter {
    padding: 2rem;
    min-height: calc(100vh - 18rem - 78px);
}

/* connexion */
.row {
    margin: 10px 6px;
}

/* Add padding BETWEEN each column */
/* .row,
.row>.column {
    padding: 26px;
} */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 39%;
    display: none;
    /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
    padding: 1rem;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 4px 9px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
}

.btn:hover {
    background-color: #f6a030;
}

.btn.active {
    background-color: #f6a030;
    color: white;
}

/* connexion */
.connexion {
    padding: 1rem 2rem 1rem 2rem;
    min-height: calc(100vh - 24rem - 73px);
}

.oublier {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
    color: #333367;
}

.panel-login {
    border-color: green;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    background-color: #f6a030;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-transform: uppercase;
}

.panel-login>.panel-heading a.active {
    color: white;
    font-size: 18px;
    line-height: 1.7;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 14px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    width: calc(100% - 6px);
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: green;
}

.btn-login {
    background-color: #333367;
    outline: none;
    color: white;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    width: 100px;
    padding: 10px 0;
    margin: 1rem 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: black;
    background-color: lightgreen;
    border-color: #53A3CD;
}

.marqueselect {
    padding: 0rem 2rem 2rem 2rem;
    min-height: calc(100vh - 16rem - 78px);
}

label {
    font-weight: 900;
    color: #333367;
    text-transform: uppercase;
    padding-right: 1rem;
}

select {
    background-color: rgba(255, 0, 0, 0);
    outline: none;
    color: black;
    font-size: 14px;
    height: auto;
    font-weight: 500;
    width: 100px;
    text-transform: uppercase;
    border: none;
    float: right;
}

.resr {
    background-color: #333367;
    outline: none;
    color: white;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    width: 100px;
    text-transform: uppercase;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem 0;
    float: right;
}

input:hover {
    background-color: #333367;
    outline: none;
    color: #f6a030;
}

.bike {
    padding: 1rem 0rem 3rem 0rem;
}

img {
    max-width: 100%;
}

/* img.test1 {
    position: absolute;
    top: 0;
    content: url('/images/bike/scott.png');
    display: none;
}

.marqueselect select#cars option:selected + img.test1 {
    display: block;
} */
/* fin media query */
}